  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="contact_items">

        <a href="">
          <div class="item ">
            <div class="img-box box-2">

            </div>
            <div class="detail-box">
              <p>
                +02 1234567890
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">

            </div>
            <div class="detail-box">
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-1">

            </div>
            <div class="detail-box">
              <p>
                t will be distracted by the readable
              </p>
            </div>
          </div>
        </a>
      </div>


    <div class="container-fluid text-center text-md-left" style="margin-bottom: 50px;">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">The Editing Factory</h5>
          <p>Here you can use rows and columns to organize your footer content.Here you can use rows and columns to organize your footer content.Here you can use rows and columns to organize your footer content.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">About us</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Reviews</a>
            </li>
            <li>
              <a href="#!">Team</a>
            </li>
            <li>
              <a href="#!">FAQs</a>
            </li>
            <li>
              <a href="#!">Portfolio</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Community</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Career</a>
            </li>
            <li>
              <a href="#!">Copyright</a>
            </li>
            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a href="#!">Sign up</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>

  
      <div class="info_social">
        <div>
          <a href="">
            <img src="/assets/images/fb.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/twitter.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/linkedin.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/insta.png" alt="">
          </a>
        </div>
      </div>
   
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">

 
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->