<head>
    <meta charset="utf-8" />
    <title>The Editing Factory - the editing experts</title>
    <meta
      content="Tavaga is everything you need to start investing for your goals, stay on track, and achieve them on time."
      name="description" />
    <meta content="The editing Experts" property="og:title" />
    <meta
      content=" "
      property="og:description" />
    

    <link rel="icon" href="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" type="image/x-icon">


    <meta content="summary" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />

    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/assets/css/responsive.css" rel="stylesheet" />

  <script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</head>