

<div class="header_section" >
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/logo.png" alt="">
          <span>
            The Editing Factory
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="/how">How it works <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Services </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pricing">Pricing </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio"> Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          <!-- <div class="quote_btn-container  d-flex justify-content-center">
            <a href="">
              <img src="/assets/images/call.png" alt="">
              CALL : +01 1234567890
            </a>
            
          </div> -->
        </div>
      </nav>
    </div>
</div>

