<% layout('shared/layout') -%>

<!-- banner -->

<div class=" slider_section position-relative" >

    <div class="slider_bg-container">

    </div>
    <div class="slider-container">

      <div class="detail-box">
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
        <h1>
          Unlimited <br>
          image editing<br>
          <span style="text-transform: lowercase; font-weight: lighter; font-size:40px;">at</span> $89<span style="text-transform: lowercase; font-weight: lighter; font-size:25px;">/week</span>
        </h1>
        <h4 style="margin-top: 40px;">
          Clipping-path | Masking | Color-Correction | Retouching | Manipulation <br>
          and Much more
        </h4>
        <div>
          <a href="" class="slider-link">
            CHECK PRICING
          </a>
        </div>
      </div>
      <div class="img-box">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/images/slider-1.jpg" alt="">
            </div>
            <div class="carousel-item">
              <img src="/assets/images/slider-2.jpg" alt="">
            </div>
            <div class="carousel-item">
              <img src="/assets/images/slider-3.jpg" alt="">
            </div>
          </div>

        </div>

      </div>
    </div>

</div>

<!-- banner end -->


<!-- industries reserve -->

<section class="about_section layout_padding">
    
    
    <div class="container">
        <div class="row">
         
            <div class="detail-box">
        
            
            <div class="custom_heading-container">        
              <h1>
                Industries We <span>Serve</span> 
                
              </h1>

            </div>
            <div class="custom_heading-container">
                <h3>With our years of experience, we serve a wide range of industries</h3>
            </div>


            <!-- <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem
            </p> -->
            <div class="industries-container">
                
                <div class="industries-specific">
                    <a href="" style="float: left; width: 40%;"><img src="/assets/images/bed.png" style="width: 100%;" ></a>
                  
                    <p style="text-align: center; margin-top: 20px; font-weight: bold; float: left; margin-left: 10px;">Furniture</p>
                    
                    
                </div>
                <div class="industries-specific">
                    <a href="" style="float: left; width: 40%;"><img src="/assets/images/car.png" style="width: 100%;"></a>
                    <p style="text-align: center; margin-top: 25px; font-weight: bold; float: left;margin-left: 10px;">Automobiles</p>
                </div>
                <div class="industries-specific">
                    <a href="" style="float: left; width: 40%;"><img src="/assets/images/fashion.png" style="width: 100%;"></a>
                    <p style="text-align: center; margin-top: 25px; font-weight: bold; float: left;margin-left: 10px;">Fashion</p>
                </div>
                <div class="industries-specific">
                    <a href="" style="float: left; width: 40%;"><img src="/assets/images/monitor.png" style="width: 100%;"></a>
                    <p style="text-align: center; margin-top: 25px;font-weight: bold; float: left;margin-left: 10px;">E-commerce</p>
                </div>
                <div class="industries-specific">
                    <a href="" style="float: left; width: 40%;"><img src="/assets/images/african.png" style="width: 100%;"></a>
                    <p style="text-align: center; margin-top: 25px;font-weight: bold; float: left;margin-left: 10px;">Jewellery</p>
                </div>
                <div class="industries-specific">
                    <a href="" style="float: left; width: 40%;"><img src="/assets/images/photographer.png" style="width: 100%;"></a>
                    <p style="text-align: center; margin-top: 25px; font-weight: bold; float: left;margin-left: 10px;">Photographers</p>
                </div>

                
              
            </div>

            <div class="industries-content">
              <p style="font-size: 25px; font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-left: 10px; margin-right: 10px; "><span style="color: blueviolet; font-size: 27px;">If</span> you don't see your specific industry mentioned here, don't worry.<br><span style="color: blueviolet;font-size: 27px;">We</span>
                are continuously working hard to add new industries with our years of experience, We serve 
                a wide range of industries
              </p>

            </div>


            </div>
        
    </div>
</div>      
    
  </section>


<!-- industries reserve end  -->



  <!-- why editing factory section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            WHY CHOOSE EDITING FACTORY?
          </h2>

        </div>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority
        </p>
      </div>
    </div>
    <div class="container">
      <div class="service_container layout_padding2">
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/graphic-designer.png" alt="" class="img-1" style="width: 100%;">
              <!-- <img src="/assets/images/s1-blue.png" alt="" class="img-2"> -->
            </div>
            <div class="name">
              <h6>
                Expert Image Editors
              </h6>
            </div>
          </div>
        </a>
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/timer.png" alt="" class="img-1" style="width: 100%;">
              <!-- <img src="/assets/images/s2-blue.png" alt="" class="img-2"> -->
            </div>
            <div class="name">
              <h6>
                On-time Delivery
              </h6>
            </div>
          </div>
        </a>
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/support.png" alt="" class="img-1" style="width: 100%;">
              <!-- <img src="/assets/images/s3-blue.png" alt="" class="img-2"> -->
            </div>
            <div class="name">
              <h6>
                Awesome Costumer support
              </h6>
            </div>
          </div>
        </a>
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/photoshop.png" alt="" class="img-1" style="width: 100%;">
              <!-- <img src="/assets/images/s4-blue.png" alt="" class="img-2"> -->
            </div>
            <div class="name">
              <h6>
                Unlimited Requests
              </h6>
            </div>
          </div>
        </a>
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/profit.png" alt="" class="img-1" style="width: 100%;">
              <!-- <img src="/assets/images/s5-blue.png" alt="" class="img-2"> -->
            </div>
            <div class="name">
              <h6>
                Flat Rate Pricing
              </h6>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="read-btn">
        <a href="">
          Read More
        </a>
      </div>

  </section>

  <!-- end why editing factory section -->


<!-- how it works section -->

<div class="how-works_section">
    <!-- <div class="container"> -->

        <div class="work-heading">
            <h1>how it <span style="color: darkorchid;">works</span></h1>

        </div>
    <div class="step-container">
        <div class="work-step">
            <div class="work-img">
                <img src="/assets/images/work-1.svg" style="width: 80%; margin-left: 10%; margin-right:10%;">
            </div>
            <div class="work-content">
                
                <p>1. Submit your first request and we will match you with one of our designers.</p>
            </div>
        </div>
        <div class="work-step">
            <div class="work-img">
                <p>2. Your designer works on your requests everyday and delivers within 1-2 business days.</p>
            </div>
            <div class="work-content">
                <img src="/assets/images/work-2.svg" style="width: 80%; margin-left: 10%; margin-right:10%;">
            </div>
        </div>
        <div class="work-step">
            <div class="work-img">
                <img src="/assets/images/work-3.svg" style="width: 80%; margin-left: 10%; margin-right:10%;">
            </div>
            <div class="work-content">
                <p>3. Your designer does as many revisions as necessary.</p>
            </div>
        </div>
        <div class="work-step">
            <div class="work-img">
                <p>4. Final design is approved and source files are delivered.</p>
            </div>
            <div class="work-content">
                <img src="/assets/images/work-4.svg" style="width: 80%; margin-left: 10%; margin-right:10%;">
            </div>
        </div>

    </div>

    <!-- </div> -->

</div>

<!-- how it works end -->


    <!-- client section -->

    <section class="client_section layout_padding">
        <div class="container">
          <div class="custom_heading-container">
            <h2>
              What is Say Our Clients
            </h2>
            <hr>
          </div>
          <div class="client_container layout_padding-top">
            <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="box">
                    <div class="detail-box">
                      <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of
                        letters, It is a long established fact that a reader will be distracted by the readable content of a
                        page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters,
                      </p>
                    </div>
                    <div class="client-id">
                      <div class="img-box">
                        <img src="/assets/images/client.png" alt="">
                      </div>
                      <div class="name">
                        <h5>
                          readable content
                        </h5>
                        <h6>
                          designer
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="box">
                    <div class="detail-box">
                      <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of
                        letters, It is a long established fact that a reader will be distracted by the readable content of a
                        page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters,
                      </p>
                    </div>
                    <div class="client-id">
                      <div class="img-box">
                        <img src="/assets/images/client.png" alt="">
                      </div>
                      <div class="name">
                        <h5>
                          readable content
                        </h5>
                        <h6>
                          designer
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="box">
                    <div class="detail-box">
                      <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of
                        letters, It is a long established fact that a reader will be distracted by the readable content of a
                        page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters,
                      </p>
                    </div>
                    <div class="client-id">
                      <div class="img-box">
                        <img src="/assets/images/client.png" alt="">
                      </div>
                      <div class="name">
                        <h5>
                          readable content
                        </h5>
                        <h6>
                          designer
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                <span class="sr-only">Next</span>
              </a>
            </div>
    
          </div>
        </div>
      </section>
      <!-- end client section -->

      


  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="contact_items">

        <a href="">
          <div class="item ">
            <div class="img-box box-2">

            </div>
            <div class="detail-box">
              <p>
                +02 1234567890
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">

            </div>
            <div class="detail-box">
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-1">

            </div>
            <div class="detail-box">
              <p>
                t will be distracted by the readable
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="info_social">
        <div>
          <a href="">
            <img src="/assets/images/fb.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/twitter.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/linkedin.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/assets/images/insta.png" alt="">
          </a>
        </div>
      </div>
   
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">

 
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->


