<% layout('shared/layout') -%>

<div class="services-banner">
    <h1 style="text-align: center; color: white; font-weight: bolder; margin-top: 50px; font-size: 70px; margin-top: 100px;">SERVICES</h1>
    <h4 style="text-align: center; color: white; margin-bottom: 150px;">HOME / SERVICES / SERVICES ALL</h4>
</div>

<div class="services-elements">
    <div class="services-card">
        <img src="/assets/images/service-bg.jpg">
        <div class="services-content">
            <h2><a href="/service#color-correction">Color Correction</a></h2>
            <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
        </div>
    </div>
    <div class="services-card">
        <img src="/assets/images/service-bg.jpg">
        <div class="services-content">
            <h2><a href="/service#clipping-path">Cliping Path</a></h2>
            <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
        </div>
    </div>
    <div class="services-card">
        <img src="/assets/images/service-bg.jpg">
        <div class="services-content">
            <h2><a href="/service#masking">Masking</a></h2>
            <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
        </div>
    </div>
    <div class="services-card">
        <img src="/assets/images/service-bg.jpg">
        <div class="services-content">
            <h2><a href="/service#retouching">Retouching</a></h2>
            <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
        </div>
    </div>
    <div class="services-card">
        <img src="/assets/images/service-bg.jpg">
        <div class="services-content">
            <h2><a href="/service#manipulation">Manipulation</a></h2>
            <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
        </div>
    </div>
    <div class="services-card">
        <img src="/assets/images/service-bg.jpg">
        <div class="services-content">
            <h2><a href="/service#misc">Misc</a></h2>
            <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
        </div>
    </div>
    
</div>