@media (max-width: 1120px) {

  .quote_btn-container a {
    display: none;
  }
}

@media (max-width: 992px) {



  .how-works_section .work-step{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;
  }
  .how-works_section .work-img{
    width: 50%;
    float: left;
  }
  .how-works_section .work-content{
    width: 50%;
    float: left;
  }


  .slider_section .slider-container {
    flex-direction: column;
    padding: 0;
  }

  .slider_section .detail-box {
    width: 100%;
    text-align: center;
    padding: 75px 15px;
    background: linear-gradient(135deg, #a454fd, #2b05df);
    position: relative;
  }

  .slider_section .img-box {
    width: 100%;
    margin: 0;
  }

  .slider_section .slider_bg-container {
    display: none;
  }

  .slider_section .detail-box p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    top: initial;
    bottom: 0;
    left: 44.6%;
  }

  .slider_section .carousel-control-prev {
    transform: translate(0, 50%);
  }

  .slider_section .carousel-control-next {
    transform: translate(115%, 50%);
  }

  .service_section .service_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service_section .box {
    margin: 25px;
  }

  .service_section .box .name h6 {
    color: #ffffff;
  }

  .service_section::before {
    height: 100%;
  }

  .portfolio_section {
    padding-top: 75px;
  }

  .contact_items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact_items .item {
    margin: 20px;
  }
  .table-features{
    display: none;
    
  }
  .table-entry{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 25px;
  }
  .pricing-time{
    width: 100%;
  }
  .pricing-bar{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
  .table-entry:hover{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .mobile-table p{
    color: darkslateblue;
    display: block;
  }
  /* .buy-button-container-2{
    background-color: transparent;
    height: auto;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
  
  } */
  .services-card{
    margin: 1.25%;
    width: 47.5%;
    height: auto;
    float: left;
    margin-top: 50px;
  }

  .service-side-list{
    height: auto;
    float: left;
    width: 96%;
    margin: 2%;
  }
  .service-content-sp{
    width: 98%;
    margin: 1%;
  }
  .service-content-sp h1{
    padding-left: 0px;
    padding-top: 50px;
    text-align: center;
  }
  .service-content-sp p{
    padding-left: 20px;
    padding-right: 20px;
    
  }
  
}

@media (max-width: 768px) {
  .client_section .client_container {
    width: 100%;
  }

  .client_section .client_container .box {
    margin: 20px 15px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    display: none;
  }


  .industries-container .industries-specific{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .industries-container{
    width: 100%;
  }

  .industries-content{
    width: 100%;
  }


  .subscribe_section form {
    margin-top: 25px;
  }

  .contact_section .contact_form-container button {
    margin-bottom: 45px;
  }

  .contact_section .contact_form-container input {
    width: 100%;
  }

  .table-button{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    height: auto;
    padding: 0px;
    background-color: darkslateblue;
    float: left;
    margin-bottom: 50px;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
  }
  .table-button:hover{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    height: auto;
    padding: 0px;
    background-color: darkblue;
    float: left;
    margin-bottom: 50px;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
  }
  .footer-division{
    width: 100%;
  }
  .services-card{
    margin: 1.5%;
    width: 96%;
    height: auto;
    float: left;
  }

}

@media (max-width: 576px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {

    left: 41.6%;
  }


  .custom_heading-container hr {
    display: none;
  }



}

@media (max-width: 480px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 39%;
  }

  .industries-container .industries-specific{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .subscribe_section form {
    flex-direction: column;
    align-items: center;
  }

  .subscribe_section form button {
    transform: none;
    margin-top: 15px;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }


}


@media (max-width: 420px) {

}

@media (max-width: 360px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 36%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
  }

}